.user-data-container{

    .user-gravatar{
        
        img{
            height: 10rem;
            width: 10rem;
            border-radius: 50%;
            border: solid 5px black;
        }
    }
}